
<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<main>
    <section class="content-info">
        <h1>Criar conta ou logar</h1>
        <p>Façã login ou crie uma conta abaixo</p>
        <%- include('includes/messages') %>
        <div class="content-forms">
            <div class="form">
                <div>
                    <h1>Registrar-se</h1>
                    <p>se registe caso nao tenha um conta ainda</p>
                </div>
                <div>
                    <form action="/login/register" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <label for="emailRegister">Seu e-mail</label><br>
                        <input id="emailRegister" name="email" type="text" placeholder="Digite o seu e-mail"><br>
                        <label for="senha">Sua senha</label><br>
                        <input id="senhaRegister" name="senha" type="password" placeholder="Digite a sua senhal"><br>
                        <button class="button" id="Registrar">Registrar</button>
                    </form>
                </div>
            </div>
            <div class="form">
                <div>
                    <h1>Login</h1>
                    <p>Faça login caso tenha um conta</p>
                </div>
                <div>
                    <form action="/login/login" method="POST">
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        <label for="emailLigin">Seu e-mail</label><br>
                        <input id="emailLigin" name="email" type="text" placeholder="Digite o seu e-mail"><br>
                        <label for="senha">Sua senha</label><br>
                        <input id="senhaLogin" name="senha" type="password" placeholder="Digite a sua senhal"><br>
                        <button class="button" id="Logar">Logar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('includes/footer.ejs') %>
