
<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<main>
    <section class="content-info">
        <h1>Hola <%= user.email  %> </h1>
        <p>Você precisa sair para criar outra conta</p>
        <%- include('includes/messages') %>
    </section>
</main>
<%- include('includes/footer.ejs') %>
